*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
html{
    font-size: 100%;
}
/* no access to notification */
.disabled {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.disabled img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: flex;
}

.disabled h1,
.disabled h3 {
    z-index: 2;
    color: white;
    text-align: center;
    position: absolute;
}

.disabled h1 {
    bottom: 9.5rem;
    font-size: 3rem;
}

.disabled h3 {
    bottom: 5.8rem;
    text-shadow: 2px 2px 5px rgba(14, 14, 14, 0.63);
}
button{
    border: none;
    width: 10rem;
    height: 3rem;
    padding: 14px;
    font-size: 1rem;
    border-radius: 1.5rem;
    position: absolute;
    bottom: 2rem;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(216, 216, 216);

}
.disabled.active{
    opacity: 1;
    pointer-events: all;
}



/* initial page (asking access) */
.askaccess {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(121, 20, 189), rgb(46, 95, 230));
    opacity: 0;
    pointer-events: none;
}
.askaccess.active{
    opacity: 1;
    pointer-events: all;
}
.askaccess h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
}
.askaccess h3 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(14, 14, 14, 0.63);
    position: absolute;
}
.askaccess button{
    bottom: 33%;
    user-select: none;
}
.askaccess span{
    bottom: 25%;
    position: absolute;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

/* main notification generator page */
.notif {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(121, 20, 189), rgb(46, 95, 230));
    opacity: 0;
    pointer-events: none;
}
.notif.active{
    opacity: 1;
    pointer-events: all;
}
.container{
    width: 20rem;
    height: 25rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 0.5rem;
    position: relative;
}
.container h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
}
.container input{
    height: 2rem;
    width: 80%;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid rgba(114, 114, 114, 0.555);
    /* margin: 1.2rem 0rem; */
}
.container .body{
    height: 5rem;
    width: 80%;
    text-align: left;
}
.container button{
    width: 80%;
    border-radius: 6px;
    background-color: rgb(45, 93, 224);
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;
}
.container button:hover{
    background-color: rgb(22, 22, 158);
}

@media screen and (max-width: 700px) {
    html{
        font-size: 80%;
    }
    .disabled h1{
        bottom: 12rem;
    }
    .disabled h3{
        bottom: 6rem;
    }

}
@media screen and (max-width: 400px) {
    .disabled, .askaccess{
        font-size: 70%;
    }
    .disabled h1{
        bottom: 12rem;
    }
    .disabled h3{
        bottom: 7rem;
    }
}
@media screen and (max-width: 320px) {
    .askaccess h1{
        font-size: 2.6rem;
    }
    
}